/*************** standard colors **********************/

:root {
  --pure-white: #ffffff;
  --dull-white: #f4f5f8;
  --text-black: #2b2d33;
  --border-gray: #e1e3e5;
  --muted-text: #949495;
  --highlight-blue: #5f6bd2;
  --highlight-yellow: #f1c947;
}

/*************** KanbanBoard Navbar ****************/
.kanban-topbar-hzScroll {
  background-color: var(--pure-white);
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none; /* hide scrollbar for Firefox */
  -ms-overflow-style: none; /* hide scrollbar for IE and Edge */
}

/*************** KanbanBoard ****************/
.kanban-main-container {
  background-color: var(--dull-white);
  display: flex;
  flex-direction: row;
  height: calc(100vh - 50px);
  width: 100vw;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
}

.kanban-card-holder {
  height: 100%;
  min-width: 250px;
  max-width: 250px;
  border: 1px solid var(--border-gray);
  scroll-snap-align: start;
}

.kanban-card-holder-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.kanban-card-holder-header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.kanban-card-holder-header-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ticket-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ticket-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ticket-title {
  display: flex;
  flex-wrap: wrap;
}

.ticket-card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*************** UI Components ****************/

/* AvatarWithStatus */

.avatar-icon {
}

.avatar-status-icon {
  bottom: 0;
  right: 0;
}

/* TagWithCircle */
.tag-circle {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

/**************** standard classes *****************/

.heading-3 {
}

.muted-heading-3 {
}

.w-6 {
  width: 24px;
}

.h-6 {
  height: 24px;
}

.mt-3 {
  margin-top: 12px;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

::-webkit-scrollbar {
  display: none; /* hide scrollbar for Chrome, Safari and Opera */
}
