/*************** standard colors **********************/

:root {
  --pure-white: #ffffff;
  --dull-white: #f4f5f8;
  --text-black: #2b2d33;
  --border-gray: #e1e3e5c5;
  --muted-text: #949495;
  --highlight-blue: #5f6bd2;
  --highlighted-yellow: #f1c947;
  --highlighted-green: #00b894;
  --rounded-border: 10px;
}

/*************** KanbanBoard Navbar ****************/
.kanban-topbar-hzScroll {
  background-color: var(--pure-white);
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none; /* hide scrollbar for Firefox */
  -ms-overflow-style: none; /* hide scrollbar for IE and Edge */
}

/*************** KanbanBoard ****************/
.kanban-main-container {
  background-color: var(--dull-white);
  display: flex;
  flex-direction: row;
  height: calc(100vh - 50px);
  width: 100vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.ticket-card-holder {
  height: 100%;
  min-width: 400px;
  max-width: 400px;
  padding: 0 0 0 45px;
  /* border: 1px solid var(--border-gray); */
  scroll-snap-align: start;
}

@media (max-width: 575.98px) {
  .ticket-card-holder {
    min-width: 100%;
    max-width: 100%;
    padding: 0 0;
    margin: 0 8px;
  }
}

.ticket-card-holder-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
}

.ticket-card-holder-header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.ticket-card-holder-header-info > .icon {
  margin-left: 8px;
}

.ticket-card-holder-header-info > .muted-heading-3 {
  background-color: var(--pure-white);
  padding: 0 4px;
  border-radius: var(--rounded-border);
}

.ticket-card-holder-header-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.ticket-card {
  background-color: var(--pure-white);
  padding: 20px;
  border-radius: var(--rounded-border);
  box-shadow: 2px 2px 77px -34px rgba(0, 0, 0, 0.055);
  border: 1px solid var(--border-gray);
}

.ticket-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ticket-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ticket-title {
  display: flex;
  flex-wrap: wrap;
}

.ticket-card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*************** UI Components ****************/

/* AvatarWithStatus */

.avatar-text{
  font-size: 14px;
  left:4px;
  top:2px;
  font-weight: 500;
  color: var(--pure-white)
}

.avatar-icon{
  height: 24px;
  width: 24px;
  border-radius: 100%;
}

.user-status-icon{
  height: 8px;
  width: 8px;
  border-radius: 100%;
  bottom: -3px;
  right: -3px;
  border: 2px solid var(--pure-white);
}

.avatar-status-available {
  background-color: var(--highlighted-green);
}

.avatar-status-away {
  background-color: var(--highlighted-yellow);
}

/* TagWithCircle */
.tag-circle {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

/**************** standard classes *****************/

.heading-3 {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-black);
}

.muted-heading-3 {
  font-weight: 500;
  color: var(--muted-text);
}

.w-6 {
  width: 24px;
}

.h-6 {
  height: 24px;
}

.mt-2 {
  margin-top: 8px;
}

.ml-2 {
  margin-left: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

::-webkit-scrollbar {
  display: none; /* hide scrollbar for Chrome, Safari and Opera */
}
