/*************** standard colors **********************/

:root {
  --pure-white: #ffffff;
  --dull-white: #f4f5f8;
  --text-black: #2b2d33;
  --border-gray: #e1e3e5c5;
  --dark-border-gray: #c4c4c4;
  --muted-text: #949495;
  --highlight-blue: #5f6bd2;
  --bright-blue: #4d79ff;
  --highlighted-yellow: #f1c947;
  --highlighted-green: #00b894;
  --rounded-border: 10px;
}

/*************** KanbanBoard Navbar ****************/
.kanban-topbar-hzScroll {
  background-color: var(--pure-white);
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none; /* hide scrollbar for Firefox */
  -ms-overflow-style: none; /* hide scrollbar for IE and Edge */
}

/*************** KanbanBoard ****************/

.kanban-main-container {
  background-color: var(--dull-white);
  display: flex;
  flex-direction: row;
  height: calc(100vh - 64px);
  width: 100vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.topbar-container {
  margin: 0 0 0 48px;
}

@media (max-width: 575.98px) {
  .topbar-container {
    margin: 0;
  }
}

.ticket-card-holder {
  height: 100%;
  min-width: 400px;
  max-width: 400px;
  padding: 0 0 0 45px;
  /* border: 1px solid var(--border-gray); */
  scroll-snap-align: start;
}

.ticket-card-holder-content {
  height: calc(100% - 100px);
  overflow-y: scroll;
  scrollbar-width: none; /* hide scrollbar for Firefox */
  -ms-overflow-style: none; /* hide scrollbar for IE and Edge */
}

@media (max-width: 575.98px) {
  .ticket-card-holder {
    min-width: 100%;
    max-width: 100%;
    padding: 0 0;
    margin: 0 8px;
  }
}

.ticket-card-holder-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
}

.ticket-card-holder-header-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.ticket-card-holder-header-info > .icon {
  margin-left: 8px;
}

.ticket-card-holder-header-info > .muted-heading-3 {
  background-color: var(--pure-white);
  padding: 0 4px;
  border-radius: var(--rounded-border);
}

.ticket-card-holder-header-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.ticket-card {
  background-color: var(--pure-white);
  padding: 20px;
  border-radius: var(--rounded-border);
  box-shadow: 2px 2px 77px -34px rgba(0, 0, 0, 0.055);
  border: 1px solid var(--border-gray);
}

.ticket-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ticket-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ticket-title {
  display: flex;
  flex-wrap: wrap;
}

.ticket-card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*************** UI Components ****************/

.hz-input-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input-comp {
  height: 30px;
  width: 200px;
  font-weight: 500;
  padding: 0 4px;
  background-color: var(--pure-white);
  border-radius: 8px;
  border: 1px solid var(--border-gray);
}

.hz-input-group > .disabled{
  background-color: var(--dull-white);
  border: 1px solid var(--border-gray);
  color: var(--muted-text);
}

.dark-border {
  border: 1px solid var(--dark-border-gray);
}

.btn-left-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

/* Create Button */
.create_button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 14px;
  border-radius: var(--rounded-border);
  border: 1px solid var(--border-gray);
  background-color: var(--bright-blue);
  color: var(--pure-white);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

/* Small Menu Box */
.small-menu-box {
  width: 250px;
  top: 55px;
  background-color: var(--pure-white);
  padding: 20px;
  border-radius: var(--rounded-border);
  box-shadow: 2px 2px 77px -34px rgba(0, 0, 0, 0.521);
  border: 1px solid var(--border-gray);
}

/* SelectWithLabel */
.select-with-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.select-comp {
  height: 30px;
  width: 120px;
  font-weight: 500;
  padding: 0 4px;
  background-color: var(--dull-white);
  border-radius: 8px;
  border: 1px solid var(--border-gray);
}

.select-comp:focus {
  outline: none;
}

/* AvatarWithStatus */

.avatar-text {
  width: 100%;
  font-size: 14px;
  top: 2px;
  font-weight: 500;
  color: var(--pure-white);
  text-align: center;
}

.avatar-icon {
  height: 24px;
  width: 24px;
  border-radius: 100%;
}

.user-status-icon {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  bottom: -3px;
  right: -3px;
  border: 2px solid var(--pure-white);
}

.avatar-status-available {
  background-color: var(--highlighted-green);
}

.avatar-status-away {
  background-color: var(--highlighted-yellow);
}

/* TagWithCircle */

.tag-with-circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 5px;
  border: 1px solid var(--border-gray);
  border-radius: var(--rounded-border);
}

.tag-circle {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.tag-text {
  color: var(--muted-text);
}

/* Priority Icon */
.grey-icon {
  color: var(--muted-text);
}

/* Button with popup menu */
.button-with-popup-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: var(--rounded-border);
  border: 1px solid var(--border-gray);
  cursor: pointer;
}

/**************** standard classes *****************/

.heading-3 {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-black);
}

.muted-heading-3 {
  font-weight: 500;
  color: var(--muted-text);
}

.text-semibold {
  font-weight: 600;
}

.w-4 {
  width: 16px;
}

.h-5 {
  height: 20px;
}

.w-5 {
  width: 20px;
}

.h-6 {
  height: 24px;
}

.mt-2 {
  margin-top: 8px;
}

.ml-2 {
  margin-left: 8px;
}

.ml-12 {
  margin-left: 48px;
}

.mt-3 {
  margin-top: 12px;
}

.px-2{
  padding-left: 8px;
  padding-right: 8px;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

::-webkit-scrollbar {
  display: none; /* hide scrollbar for Chrome, Safari and Opera */
}
